.category {
  max-width: 98vw !important;
  overflow-x: scroll;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 0;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
  height: 100px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.category-btn {
  font-weight: bold !important;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  /* border-radius: 20px; */
  transition: all 0.3s ease;
}

.category-btn:hover {
  background-color: #76323f;
  color: #fff;
}
.category-btn:hover span {
  color: #fff !important;
}
